@import url(./header.css);
@import url(./footer.css);

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ----------- Disposition mobile ----------- */

body {
    min-height: 100vh;
    background-image: url(https://images.pexels.com/photos/924824/pexels-photo-924824.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

main p {
    padding: 25px 0;
    font-size: 1.5rem;
}