@import url(./header.css);
@import url(./footer.css);

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ----------- Disposition mobile ----------- */

body {
    min-height: 100vh;
    background-image: url(https://images.pexels.com/photos/924824/pexels-photo-924824.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* ---------- MAIN ---------- */

main .container {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main img {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    display: block;
    margin: 35px auto;
}

main h2 {
    font-size: 2.5rem;
    text-align: center;
}




@media screen and (min-width: 400px) {

    main img {
        width: 300px;
        height: 300px;
        margin: 35px;
    }

}

@media screen and (min-width:1000px) {

    main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100vw;
    }

    main .container {
        flex-direction: row;
    }

}

@media screen and (min-width:1500px) {

    main img {
        width: 20vw;
        height: 20vw;
    }

    main h2{
        font-size: 3vw;
    }


}